* {margin: 0; padding: 0;}
li {list-style: none;}
a {display: block; /*인라인요소 > 블록요소*/
    text-decoration: none; color: #333;}
img {width: 100%;}
body {background-image:  url(../img/bg.png);}
.wrap {width: 100%;}
header {
    width: 100%;
    height:120px;
    float: left;
    z-index: 100;
    position: relative;
    /*z-index는 반드시 position과 함께 기술*/
}

header .herder_weap {
    width: 1740px;
    height: 120px;
    margin: 0 auto;
}
header .top_area {
    width: 1740px;
    height:40px;
    margin:0 auto;}
header .top_area p {
    font-size: 12px;
    padding: 22px; /*안쪽여백*/
}
header .logo {
    width: 160px;
    float: left;
margin: 10px; /*바깥쪽여백*/
}
header nav {
    float: left;
    margin-left: 220px; /*왼쪽여백*/
    margin-top: 10px; /*위쪽여백*/
}
/*주메뉴*/
header nav > ul > li {
    float: left;
    margin: 0 30px;
}
header nav > ul > li a {
    padding: 5px 40px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
 
}
header nav > ul > li:hover > a {
    color: darkorange;
}
/*서브메뉴*/
header .sub {
    border-top: 3px solid #b73237;
/*서브메뉴 영역의 위쪽 테두리*/
    display:none;
    background-color:  rgba(0,0,0,0.6);
}
header nav .sub li:first-child {
    margin-top: 16px;
    /*첫번째 서브메뉴의 위쪽 여백*/
}
header nav .sub li:last-child {
    margin-top: 25px;}
header nav .sub li a {
    font-size: 12px;
    padding: 10px;
    text-align: center;
    color: #fff;
}
header nav .sub li a:hover{
    text-decoration: underline;
    color: darkorange;
}
/*주메뉴에 마우스 오버했을 때 서브메뉴 보임*/
header nav > ul > li:hover .sub{
    display: block;
}
header .right_area {
    float: right;
    margin-top: 10px;
}
header .right_area ul li {
    width: 40px;
    margin: 0 5px;
}
header .right_area ul li:nth-child(2),
header .right_area ul li:nth-child(3) {
    width:20px;
}
header .right_area ul li a {
color:dodgerblue;}
/*슬라이드*/
section.slide {
    width: 100%;
    float: left;
    position: relative;
}
section.slide ul {
    width: 1740px;
    height: 780px;
    margin: 0 auto;
    position: relative; /*li자식객체의 */
}
section.slide ul li {
    width: 100%;
    height: 780px;
    position: absolute; /*이미지 겹침*/
}
section.slide .prev {
    position: absolute;
    left: 30px;;
    width: 28px;
    height: 50px;
    top:50%;
    margin-top: -53.5px;
}
section.slide .next {
    position: absolute;
    right: 30px;;
    width: 28px;
    height: 50px;
    top:50%;
    margin-top: -53.5px;
}
section.new {
    width: 100%;
    float: left;
    margin-top:  100px;
}
section.new h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}
section.new {
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
}
section.new ul {
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
section.new ul li {
    width: 400px;
    margin-right: 40px;
    float: left;
}
section.new ul li:last-child {
    margin-right: 0;
}
section.new ul li .photo {
    width: 400px;
    height: 400px;
}
section.new ul li p{
    width: 400px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    margin-top: 0;
    font-weight: bold;
}
/*product*/
section.product {
    width: 100%;
    float: left;
    margin-top:100px;
}
section.product h1 {
    text-align: center;
    font-size: 24px;
}
section.product P {
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
}
section.product ul {
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
section.product ul li {
    float: left;
    width: 305px;
    height: 310px;
    margin-right: 20px;
}
/*4,8,12번째 li의 오른쪽 여백*/
section.product ul li:nth-child(4n) {
    margin-right: 0;
}
section.product ul li .product_li {
    position: relative;
    width: 100%;
    height: 210px;
}
section.product ul li .product_li div {
    position: absolute;
}
section.product ul li .product_li .front {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 100px 0;
    text-align: center;
    box-sizing: border-box;
    display: none;
    font-size: 14px;
}
section.product ul li > p {
    margin-top: 10px;
    font-size: 14px;
}
/*li영역에 마우스 오버했을 때 .front보임*/
section.product ul li:hover .front {
    display: block;
}
/*영상*/
section.movie {
    width: 100%;
    float: left;
}
section.movie h1 {
    text-align: center;
    font-size: 24px;
}
section.movie p {
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
}
section.movie .movie_in {
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
section.movie .movie_in iframe {
    width: 100%;   
}
/*bmw story*/
section.service {
    width: 100%;
    float: left;
    margin-top: 100px;
}
/*.service 안의 .fixed_bg 배경 고정*/
section.service .fixed_bg {
    position: absolute;
    width: 100%;
    height: 330px;
    background-image: url(../img/0.jpg);
    background-attachment: fixed;
    z-index: 1; /*뒤쪽으로 순서 변경*/
}
section.service h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    color: white;
    z-index: 10;
    position: relative;
    /*z-index와 position 같이 사용*/
}

section.service .service_in {
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    z-index: 15;
}
section.service .service_in div {
    width: 50%;
    height: 400px;
    float: left;
    padding: 50px;
    box-sizing: border-box;   
}
section.service .service_in .left_s {  
    padding: 0;
}

section.service .service_in .right_s {
    background-color: #fff;
    padding: 70px 60px;
}
section.service .service_in .right_s h2 {
    margin-bottom: 30px;
    font-size: 20px;
    color: #444;
}
section.service .service_in .right_s p {
    line-height: 28px;
    font-size: 14px;
    text-align: justify; /*글자 양쪽 정렬*/
}
section.service .service_in .right_s a {
    width: 170px;
    height: 20px;
    padding: 7px;
    border: 1px solid #ccc;
    color:#666;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}
section.public {
    width: 100%;
    float: left;
    margin-top: 100px;
}
section.public .public_in {
    width:1280px;
    margin:0 auto;
    margin-top:80px;
}
section.public .public_in ul li {
    width:320px;
    float:left;
    margin-bottom: 60px;
}
section.public .public_in ul li div {
    width: 320px;
    height: 400px;
}
section.public h1 {
    text-align: center;
    font-size: 24px;
}

section.public .public_in ul li p {
    padding: 20px;
    text-align: center;
    font-size: 14px;  
}
section.public .public_in ul li:hover {
    margin-top: -5px;
    transition: all 0.5s;
}
/*게시물 더보기 버튼*/
section.public > a {
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #999;
    clear: both;
    text-align: center;
    margin-bottom: 100px;
}
/*연관 사이트*/
section.site {
    width: 100%;
    float: left;
    padding-top: 100px;
    background-color: #84b1ed;
    
}
section.site h1 {
    font-size: 24px;
    text-align: center;
}
section.site ul {
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
    
}
section.site ul li {
    width: 200px;
    float: left;
    margin-right: 4px;    
}
footer {
    width: 100%;
    float: left;
    background-color: #84b1ed;
    padding-top: 100px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
footer .footer_in {
    width: 1280px;
    margin:0 auto;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 40px;
    padding-bottom: 30px;
    height:200px;
    margin-bottom: 50px;
    
}
footer .footer_in .sns {
    float: left;
    
}
footer .footer_text {
   float: right;

    
}
footer .footer_in .sns ul li {
    float: left;
    width: 30px;
    margin: 8px;
    
}
footer .footer_in .info {
    clear: both;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
footer .footer_text {
   float: right;

    
}
footer .footer_text ul li {
    float: left;
    margin: 20px;
}

footer .footer_in .info address {
    float: left;
    clear: both;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    margin: 20px 0;
}
footer .footer_in .info p{
    clear: both;
    text-align: left;
    margin-bottom: 100px;
    
    
}



















































































